<section class="products-page pb-5">
  <div class="container">
    <div class="row g-3  row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 mb-4">
      <div class="col" *ngFor="let productItem of productsItems">
        <app-product-item [product]="productItem"></app-product-item>
      </div>
    </div>
    <nav aria-label="Page navigation example ">
      <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link text-dark" href="#">السابق</a></li>
        <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
        <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
        <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
        <li class="page-item"><a class="page-link text-dark" href="#">التالى</a></li>
      </ul>
    </nav>
  </div>
</section>



