<section class="products-management-page ">
  <div class="container ">

    <!-- <header class="title d-flex justify-content-between ">
      <h2 class="text-warning fw-bold mb-3 mb-lg-0">إدارة المنتجات</h2>
      <div class="add-product-btn">
        <a  class="btn btn-outline-primary btn-sm" >  إضافة المنتجات</a>
        <a  class="btn btn-outline-primary btn-sm" >  إضافة محافظات</a>
        <a  class="btn btn-outline-primary btn-sm" >  إضافة اقسام </a>
      </div>
    </header> -->
    <div class="row">
      <div class="col-lg-4">
        <a class="card-link" routerLink="">
          <div class="card">
            <div class="front">
              <div class="icon mb-3"><i class="fa-solid fa-boxes-stacked fa-fw fa-3x"></i></div>
              <h4 class="fw-bold ">منتجات</h4>

            </div>
            <div class="back">
              <div class="icon mb-3"><i class="fa-solid fa-boxes-stacked fa-fw fa-3x"></i></div>
              <h4 class="fw-bold ">منتجات</h4>

            </div>

          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a class="card-link " routerLink="../governorates">
          <div class="card">

            <div class="front">
              <div class="icon mb-3">
                <i class="fa-solid fa-sitemap fa-fw fa-3x"></i></div>
              <h4 class="fw-bold ">المحافظات</h4>
            </div>
            <div class="back">
              <div class="icon mb-3">
                <i class="fa-solid fa-sitemap fa-fw fa-3x"></i></div>
              <h4 class="fw-bold ">المحافظات</h4>
            </div>
          </div>

        </a>
      </div>
      <div class="col-lg-4">
        <a class="card-link" routerLink="../category">
          <div class="card">

            <div class="front">
              <div class="icon mb-3">
                <i class="fa-solid fa-grip fa-3x"></i></div>
              <h4 class="fw-bold ">الاقسام</h4>

            </div>
            <div class="back">
              <div class="icon mb-3">
                <i class="fa-solid fa-grip fa-3x"></i></div>
              <h4 class="fw-bold ">الاقسام</h4>

            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
