// @import '../../../../node_modules/bootstrap/scss/variables';
$warning:  #fed700;

$blue:    #3B71CA;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;
// .text-warning {
//   color: $warning !important;
// }
// .bg-warning {
//   background-color: $warning !important;
// }
// .btn-warning {
//   background-color: $warning !important;
//   border-color: $warning !important;
// }

// .btn-warning:hover {
//   background-color: lighten($warning, 10%) !important;
//   border-color: lighten($warning, 10%) !important;
// }

// .btn-warning:focus {
//   box-shadow: 0 0 0 0.2rem $warning !important;
// }

// .btn-outline-warning {
//   border-color: $warning !important;
// }

// .btn-outline-warning:hover {
//   color: #333;
//   background-color: $warning !important;
//   border-color: $warning !important;
// }
