<section class="category-page py-5">
  <div class="container">
    <div class="title d-flex justify-content-between pb-2 border-bottom mb-4">
      <h2 class="fw-bold  mb-0">الفئات</h2>
      <button class="btn btn-outline-warning px-4 text-dark ms-auto" [class]="isAdd? ' btn-warning':' btn-outline-warning'" (click)="isAdd = !isAdd">
        <span *ngIf="!isAdd">إضافة</span>
        <span *ngIf="isAdd">إخفاء الإضافة</span>
      </button>
    </div>
    <div class="add-item bg-light p-2 mb-3 rounded-2" >
      <form class="form" (ngSubmit)="addCategory()" [formGroup]="formCategory">
      <div class="container">

        <div class="row">
          <div class="col-lg-3">
            <div class="">
              <label for="nameAr" class="form-label">الاسم العربى</label>
              <input type="text" class="form-control" formControlName="nameAr" id="nameAr" placeholder="الاسم العربى">
              <div class="text-danger"
                *ngIf="formCategory.get('nameAr')?.invalid && formCategory.get('nameAr')?.touched">
                  <div *ngIf="formCategory.get('nameAr')?.getError('required')">هذا الحق اجبارى</div>
                  <div *ngIf="formCategory.get('nameAr')?.getError('pattern')"> من فضلك التزم كتابه حروف عربية</div>
                </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="">
              <label for="nameEn" class="form-label">الاسم الانجليزى</label>
              <input type="text" class="form-control" id="nameEn" formControlName="nameEn" placeholder="الاسم الانجليزى">
              <div class="text-danger"
              *ngIf="formCategory.get('nameEn')?.invalid && formCategory.get('nameEn')?.touched">
                <div *ngIf="formCategory.get('nameEn')?.getError('required')">هذا الحق اجبارى</div>
                <div *ngIf="formCategory.get('nameEn')?.getError('pattern')"> من فضلك التزم كتابه حروف الانجليزى</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="">
              <label for="Fees" class="form-label"> صورة الغلاف</label>
              <input type="file" class="form-control text-start" id="Fees" formControlName="imageForm" (change)="changeFile($event)">
              <div class="text-danger" *ngIf="formCategory.get('imageForm')?.invalid && formCategory.get('imageForm')?.touched">
                 <div *ngIf="formCategory.get('imageForm')?.getError('required')">هذا الحق اجبارى</div> </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class=" d-flex align-items-center">

                <button class="btn btn-success ms-auto btn-sm px-4 mt-4 d-inline-block" >إضافة</button>
                <button class="btn btn-primary ms-auto btn-sm px-4 mt-4 d-inline-block" *ngIf="buttonEdit">تعديل</button>
              </div>
          </div>
        </div>
      </div>
    </form>
  </div>
    <div class="row g-3">
      <div class="col-lg-3" *ngFor="let category of categories">
        <div class="card">
          <div class="image">

            <img [src]="'http://elnisr.webxy.net/'+category.categoryImage" [alt]="category.nameAr" [title]="category.nameAr" class="rounded-4 w-100 h-100 object-fit-cover">
          </div>
        <h5 class="text-center fw-bold text-dark mt-3">{{category.nameAr}}</h5>
        </div>
      </div>
    </div>
  </div>
</section>
