<section class="category-page governorates-page py-5">
  <div class="container">
    <div class="title d-flex justify-content-between pb-2 border-bottom mb-4">
      <h2 class="fw-bold  mb-0">الفئات</h2>
      <button class="btn btn-outline-warning px-4 text-dark ms-auto" [class]="isAdd? ' btn-warning':' btn-outline-warning'" (click)="isAdd = !isAdd">
        <span *ngIf="!isAdd">إضافة</span>
        <span *ngIf="isAdd">إخفاء الإضافة</span>
      </button>
    </div>
    <div class="add-item bg-light p-2 mb-3 rounded-2" *ngIf="isAdd">
      <form class="form" (ngSubmit)="addCategory()" [formGroup]="formCategory">
      <div class="container">

        <div class="row">
          <div class="col-lg-3">
            <div class="">
              <label for="nameAr" class="form-label">الاسم العربى</label>
              <input type="text" class="form-control" formControlName="nameAr" id="nameAr" placeholder="الاسم العربى">
              <div class="text-danger"
                *ngIf="formCategory.get('nameAr')?.invalid && formCategory.get('nameAr')?.touched">
                  <div *ngIf="formCategory.get('nameAr')?.getError('required')">هذا الحق اجبارى</div>
                  <div *ngIf="formCategory.get('nameAr')?.getError('pattern')"> من فضلك التزم كتابه حروف عربية</div>
                </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="">
              <label for="nameEn" class="form-label">الاسم الانجليزى</label>
              <input type="text" class="form-control" id="nameEn" formControlName="nameEn" placeholder="الاسم الانجليزى">
              <div class="text-danger"
              *ngIf="formCategory.get('nameEn')?.invalid && formCategory.get('nameEn')?.touched">
                <div *ngIf="formCategory.get('nameEn')?.getError('required')">هذا الحق اجبارى</div>
                <div *ngIf="formCategory.get('nameEn')?.getError('pattern')"> من فضلك التزم كتابه حروف الانجليزى</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="">
              <label for="Fees" class="form-label"> صورة الغلاف</label>
              <app-upload (fileSelected)="onFileSelected($event)"></app-upload>

            </div>
          </div>
          <div class="col-lg-3">
            <div class=" d-flex align-items-center">

                <button class="btn btn-success ms-auto btn-sm px-4 mt-4 d-inline-block" >إضافة</button>
                <button class="btn btn-primary ms-auto btn-sm px-4 mt-4 d-inline-block" *ngIf="buttonEdit">تعديل</button>
              </div>
          </div>
        </div>
      </div>
    </form>
  </div>
    <div class="row g-3">
      <!-- This Example To View Design -->
      <div class="col-lg-3 col-md-6" >
        <div class="card">
          <div class="image" style="height: 200px;">

            <img src="../../../../assets/images/women.jpeg" alt="Men's Fashion" title="Men's Fashion" class="rounded-4 w-100 h-100 object-fit-contain">
          </div>
        <h5 class="text-center fw-bold text-dark mt-3">أزياء نسائية</h5>
        <div class="button-action  ">
          <button class="btn btn-outline-primary btn-sm" ><i class="fa-solid fa-pencil"></i> </button>
          <button class="btn btn-outline-danger btn-sm" > <i class="fa-solid fa-trash-can"></i></button>
          </div>
        </div>
      </div>
      <!-- End Code -->

      <div class="col-lg-3 col-md-6" *ngFor="let category of getCategory">
        <div class="card">
          <div class="image">

            <img [src]="'http://elnisr.webxy.net/ImageSrc/Categories/'+category.image" [alt]="category.nameAr" [title]="category.nameAr" class="rounded-4 w-100 h-100 object-fit-cover">
          </div>
        <h5 class="text-center fw-bold text-dark mt-3">{{category.nameAr}}</h5>
        <div class="button-action  ">
          <button class="btn btn-outline-primary btn-sm" (click)="editCategory(category)" ><i class="fa-solid fa-pencil"></i> </button>
          <button class="btn btn-outline-danger btn-sm" (click)="deleteCategory(category.id)"> <i class="fa-solid fa-trash-can"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <p-toast ></p-toast> -->
