<footer class="footer" #MyFooter id="MyFooter">
  <section class="footer-top py-5 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <h5 class=" fw-bold">من نحن</h5>
          <!-- <p>
            موقع مينا النسر هو موقع وكالة تسويق يهتم لاستيراد وتسويق المنتجات الاكترونية والالعاب الاطفال والاجهزه المنزلية والملابس والاكسسوارات والعطورات والمكياجات والاجهزة الرياضية و...الخ
          </p> -->
          <p>
            شركة النسر جروب للتجارة💪جملة وقطاعى <br>
 ELNisr Group Trading Company🦅👌<br>

جميع منتجاتنا من دبى والصين🦅وجودة عالية
👈ونتحدى اى حد يبيع بسعر اقل مننا فى مصر✋
👈خليك مع شركتنا وماتشتريش من صفحة وخلاص عشان ماتخسرش فلوسك فى منتج مضروب👌

          </p>

          </div>
        <div class="col-lg-3 col-md-6 pt-4">
          <div class="address d-flex mb-3 ms-xl-3">
            <div class="icon me-3 bg-warning text-white d-flex justify-content-center align-items-center rounded-circle fs-4" style="width: 50px;height: 50px;">
              <i class="fa-solid fa-location-dot "></i></div>
            <div class="info">
              <h5 class="mb-0  fw-bold">العنوان</h5>
              <p class="mb-0">شبرا  ، القاهرة </p>
            </div>
          </div>


            <div class="address d-flex  ms-xl-3">
              <div class="icon me-3 bg-warning text-white d-flex justify-content-center align-items-center rounded-circle fs-4" style="width: 50px;height: 50px;">
                <i class="fa-solid fa-envelope "></i></div>
              <div class="info">
                <h5 class="mb-0  fw-bold">البريد الالكترونى</h5>
                <p class="mb-0 fs-6"> <small>{{emailText}}</small> </p>
              </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-6 pt-4 text-center">
          <div class="address d-flex mb-3 ms-xl-5">
            <div class="icon me-3 bg-warning text-white d-flex justify-content-center align-items-center rounded-circle fs-4" style="width: 50px;height: 50px;">
              <i class="fa-solid fa-phone "></i></div>
            <div class="info">
              <h5 class="mb-0  fw-bold"> رقم الهاتف</h5>
              <p class="mb-0 fs-6 dir-ltr text-start"> 011 21274674 </p>
            </div>
          </div>
          <div class="address d-flex mb-3 ms-xl-5">
            <div class="icon me-3 bg-warning text-white d-flex justify-content-center align-items-center rounded-circle fs-4" style="width: 50px;height: 50px;">
              <i class="fa-brands fa-whatsapp "></i></div>
            <div class="info">
              <h5 class="mb-0  fw-bold">  خدمة العملاء</h5>
              <p class="mb-0 fs-6 dir-ltr text-start"> 012 11375090 </p>
            </div>
          </div>

        </div>
        <div class="col-lg-3 col-md-6 pt-4">
          <h5 class="text-center mb-4">تابعنا على</h5>
          <p class="text-center">
            <a href="#" class="btn btn-outline-warning rounded-circle me-2"><i class="fa-brands fa-square-facebook "></i></a>
            <a href="#" class="btn btn-outline-warning rounded-circle me-2"><i class="fa-brands fa-x-twitter "></i></a>
            <a href="#" class="btn btn-outline-warning rounded-circle "><i class="fa-brands fa-square-instagram "></i></a>
          </p>

        </div>

      </div>
    </div>
  </section>


  <section class="copy-right bg-black  text-white py-3">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <p class=" mb-0">
            جميع الحقوق محفوظة لدى شركة النسر جروب للتجارة  &copy; {{year | date:'yyyy'}}
            </p>
        </div>
      </div>
    </div>
  </section>
</footer>
