<section class="info-us bg-light  py-4">
  <h3 class="text-warning fw-bold text-center d-table border-bottom border-2 mx-auto pb-2 mb-5 border-warning px-3">ليه تتعامل معانا؟
  </h3>

  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="card-info text-center">
          <div class="icon mb-3">
            <i class="fa-solid fa-dove fa-fw fa-4x text-warning"></i>
          </div>
          <h4 class="text-warning fw-bold">ضمان المنتج

          </h4>
          <p class="fs-5">ضمان لمدة 14 يوم ادا لم يعجبك يمكنك استعاد نقودك
          </p>
        </div>

      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card-info text-center">
          <div class="icon mb-3">
            <i class="fa-solid fa-headset fa-fw fa-4x text-warning"></i>
          </div>
          <h4 class="text-warning fw-bold">خدمة ما بعد البيع



          </h4>
          <p class="fs-5">خدمة العملاء مباشرة تحت تصرفك طيلة أيام الأسبوع

          </p>
        </div>

      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card-info text-center">
          <div class="icon mb-3">
            <i class="fa-solid fa-truck-fast fa-fw fa-4x text-warning"></i>
          </div>
          <h4 class="text-warning fw-bold">شحن مجاني





          </h4>
          <p class="fs-5">توصيل مجاني الى باب البيت ومش هتدفع حاجة غير لما تستلم المنتج وتعاينه ولو معجبتكش متستلمش بدون دفع اي مصاريف


          </p>
        </div>

      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card-info text-center">
          <div class="icon mb-3">
            <i class="fa-solid fa-money-bill-wave fa-fw fa-4x text-warning"></i>
          </div>
          <h4 class="text-warning fw-bold">الدفع عند الإستلام







          </h4>
          <p class="fs-5">
            لن تقم بدفع اي شئ حتى تتوصل بالمنتج وتعاينة قبل الاستلام مجاناً


          </p>
        </div>

      </div>
    </div>
  </div>
</section>
